@font-face {
  font-family: 'Marcellus SC';
  src: url('./fonts/MarcellusSC-Regular.woff2') format('woff2'),
      url(' ./fonts/MarcellusSC-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Marcellus';
  src: url('./fonts/Marcellus-Regular.woff2') format('woff2'),
      url('./fonts/Marcellus-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

